<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/32d8e2a2-3120-49c3-bc47-385220768a85/resourceGroups/PrescriptionSystemRg/providers/Microsoft.Web/sites/PrescriptionServiceGateway</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://prescriptionservicegateway-egfnhudhbwbnh5ct.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>7cc72546-ec5b-49eb-a1fd-fb00dc6705bd</ProjectGuid>
    <PublishUrl>https://prescriptionservicegateway-egfnhudhbwbnh5ct.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$PrescriptionServiceGateway</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>